<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>模版引擎</title>
  </head>
  <body>
    <div id="demo"></div>
  </body>
  <script src="../lib/template-web.js"></script>
  <script src="../lib/jquery.js"></script>

  <script id="tpl" type="text/html">
    <h3><%= className %></h3>
    <ul>
      <% for(let i = 0; i < students.length; i++){ %>
      <li><%= i+1 %>.<%= students[i] %></li>
      <% } %>
    </ul>
  </script>

  <script>
    const data = {
      className: "前端",
      students: ["张三", "李四", "王五"],
    };

    $(function () {
      let html = template("tpl", data);
      $("#demo").html(html);
    });
  </script>
</html>
